.search-text{
    border-color: black;
    margin-top: 20px;
    margin-left: 20px;
}

.card{
    margin-top: 10px;
    margin-left:750px
}

h1{
    align-content: center;
    font-size: 20px
}

.jumbotron-container{
    height: 10px;
}

.display-4{
    text-align: center;
    font-weight: bold;
    color: white;
}

.card-forecast1{
    display: inline-block;
  
}
.card-forecast2{
    display: inline-block;
    
}
.card-forecast3{
    display: inline-block;
   
}
.card-forecast4{
    display: inline-block
    
}
.card-forecast5{
    display: inline-block
    
}
